*.o
*.d
*.crf
*.TMP
*.bak
*.cppcheck
*.axf
*.hex
*.bin
*.lnp
*.sct
/Output/
/Listings/
/.vscode/
/DebugConfig/

/appProject/Output/
/appProject/DebugConfig/
/appProject/RTE/
/appProject/ErrorCode/error_enum.h

/SRC2000_Project/Output/
/SRC2000_Project/RTE/
/SRC2000_Project/DebugConfig/
/SRC2000_Project/ErrorCode/error_enum.h

/udpBootLoader/Output/
/udpBootLoader/Project/RTE/
/udpBootLoader/Project/DebugConfig/
/udpBootLoader/Listings/
/udpBootLoader/src2000Proj/Output/
/udpBootLoader/src2000Proj/RTE/
/udpBootLoader/src2000Proj/DebugConfig/
/udpBootLoader/Output
/udpBootLoader/Project/RTE/
/udpBootLoader/Project/DebugConfig/
/emptybootloader/Output/
*.uvmpw
*.chenxx
*.seer
*.dep
*.txt
*.uvoptx
*.scvd
*.htm
*.ini
*.uvguix.*

/iapTools/build/
/iapTools/dist/
/iapTools/*.spec
/iapTools/IMU_AHRS.bin

/subsysIAP/

/User/list.h
/udpBootLoader/readback.bin
/RTT/
*.jscope
*.pyc
/iapTools/readback.bin
*.dbgconf
/subsysIAP/Output/
/subsysIAP/Listings/

#build folder in iapTools
/iapTools/build/
/iapTools/dist/

#iapTools script
/iapTools/del_comment.py
/iapTools/no_comment.h
/iapTools/test.h
/iapTools/parseNetConf.py
/iapTools/powerupOption.bin
*.spec

/Libraries/CMSIS/DSP
/FusionOdoImu/
/math/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

/protobuffer/pyscript/rbkerror.py
/*.seer
/html/
